/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/*------------mobile-first-dark-------------*/
.page {
  color: var(--text-color);
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--backgroubd-img);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: max(668px, 100vh);
  padding: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--accent-color-header);
  border-block-start: 1px solid var(--accent-color-header);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--accent-color-header);
  border-block-end: 1px solid var(--accent-color-header);
  inline-size: 25px;
  block-size: 25px;
}

.header__main {
  align-self: end;
  color: var(--main-header-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border-style: none;
  /*---выравнивание текста в кнопке по центру-------*/
  padding-bottom: 0.25em;
  color: var(--accent-color-header);
  font-size: var(--font-size);
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-header-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  appearance: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color-header);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color-header);
  pointer-events: none;
}

.header__main-description {
  background-color: var(--accent-color);
}

.header__main-text {
  display: block;
  color: var(--minor-header-color);
  line-height: 23.4px;
}

.header__main-hidden-span {
  position: absolute;
  top: 10px;
  right: 38px;
  display: var(--display-option);
  color: var(--accent-color);
}

.header__main-hidden-span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.section-content {
  margin: 50px 10px;
}

.section-content:first-child, .section-content:last-child {
  margin: 40px 10px;
}

.main-header {
  color: var(--accent-color-header);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.minor-header {
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--minor-header-color);
  font-size:  var(--font-size);
  background-color: var(--accent-color);
}

.article {
  line-height: 23.4px;
}

.article__link {
  position: relative;
  color: currentColor;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* сделал подчеркивание через бордер тк в макете у подчеркивания нет тени */
.article__link:hover {
  border-block-end: 1px solid currentColor;
}

.article__link:focus {
  outline: none;
  appearance: none;
}

.article__link:focus-visible {
  border: 1px solid currentColor;
}

.low-header {
  height: 23px;
  font-weight: normal;
}

.figure-grid {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.figure__header {
  color: var(--minor-header-color);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.figure__img {
  width: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  height: max(668px, 100vh);
  padding: 10px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (768px <= width) {
  .header {
    height: max(668px, 100vh);
    padding: 20px;
  }

  .header__main {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__main-description {
    justify-self: self-end;
    width: 50%;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::before {  
    bottom: 20px;
    left: 20px;
  }

  .header__main-hidden-span {
    top: 20px;
    right: 48px;
  }
  
  .section-content {
    margin: 80px 20px;
  }

  .section-content:first-child, .section-content:last-child {
    margin: 60px 20px;
  }

  .why {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 38px;
  }

  .why__main-header {
    grid-row: 1 / span 4;
  }

  .why__minor-header {
    margin-block-start: 0;
  }

  .why__article:not(:last-child) {
    margin-block-end: 20px;
  }

  .what {
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .what__minor-header {
    grid-column: 1 / span 2;
  }

  .what__article {
    grid-column: 1 / span 2;
  }

  .how {
    display: grid;
    grid-template-columns: 32% 1fr;
    row-gap: 9px;
    column-gap: 24px;
    margin-top: 28px;
  }

  .how__article {
    display: flex;
    flex-direction: column;
  }

  .how__minor-header {
    margin-block-start: 0;
  }

  .how__low-header {
    margin-block-start: 0px;
    margin-block-end: 0px;
  } 

  .how__article div {
    margin-block-start: 10px;
    margin-block-end: 10px;
  }

  .how__article div:last-child {
    margin-block-end: 3px;
  }
  
  .how__article h4 {
    margin-block-end: 10px;
  }


  .how__article:not(:last-child) {
    margin-block-end: 10px;
  }

  .figure {
    display: grid;
    gap: 10px;
    width: calc(100% - 40px);
    margin-top: 17px;
  }

  .figure-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(1/3 * (100% - 40px)));
    gap: 20px;
  }

  .figure__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .figure__img-1 {
    grid-column: span 2;
    height: clamp(12rem, -0.75rem + 26.5625vw, 16.25rem);;
  }

  .figure__img-2 {
    grid-row: span 2;
    height: clamp(27.5625rem, -1.3125rem + 60.1563vw, 37.1875rem);;
  }

  .figure__img-4 {
    height: clamp(14.375rem, -1.5625rem + 33.2031vw, 19.6875rem);
  }

  .figure__img-3 {
    grid-row: span 2;
    height: clamp(35.5rem, -2rem + 78.125vw, 48rem);
  }

  .figure__img-5 {
    grid-column: span 2;
    height: clamp(19.875rem, -0.75rem + 42.9688vw, 26.75rem);
  }

  /*-------footer----------*/
  .footer {
    height: max(668px, 100vh);
    padding: 20px;
  }

  .footer__header {
    margin-inline-start: 0;
  }
}

@media (1024px <= width) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    column-gap: 20px;
  }

  .what__main-header {
    grid-column-start: 1;
    grid-column-end: -1;
    padding-inline-end: 70%;
  }

  .what__article {
    grid-column: auto;
  }

  .figure__img-1 {
    height: clamp(16.25rem, 0.7115rem + 24.2788vw, 22.5625rem);;
  }

  .figure__img-2 {
    height: clamp(37.1875rem, 1.649rem + 55.5288vw, 51.625rem);;
  }

  .figure__img-3 {
    height: clamp(48rem, 2rem + 71.875vw, 66.6875rem);
  }

  .figure__img-4 {
    height: clamp(19.6875rem, 0.7644rem + 29.5673vw, 27.375rem);
  }

  .figure__img-5 {
    height: clamp(26.75rem, 1.2115rem + 39.9038vw, 37.125rem);;
  }
}